.biography-info{
  background-image: url(../images/profile-pic.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  height: 100%;
}
.container {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  width: 900px;
}
.row {
  margin: 0;
}

.icons {
  margin-top: 20px;
}
.js-logo {
  max-width: 120px;
  max-height: 120px;
  width:100%;
}
.react-logo {
  max-width: 120px;
  max-height: 120px;
  width:100%;
  margin-top:20px
}
.node-logo {
  max-width: 120px;
  max-height: 120px;
  width:100%;
}
