.nav-container {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background-color: #D3D3D3;
}
.navbar-nav {
    float: right;
}
li:hover {
  background-color: #777;
}
