<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blog Dashboard</title>
  </head>
  <body>
  <form method="post" action="/blogapi">
    <input name="title" type="text" placeholder="title"/>
    <textarea name="content" placeholder="Enter content"></textarea>
    <input name="author" type="text" placeholder="author">
    <input type="submit" value="Submit Post" />
  </form>
  </body>
</html>
