.block {
  background-color: red;
  width: 400px;
  height: 400px;
}

.afterClickedLeft {
  background-color: green;
  color: white;
  font-weight: italic;
  text-align: left;
}
.afterClickedCenter {
  background-color: yellow;
  color: white;
  font-weight: bold;
  text-align: center;
}
.afterClickedRight {
  background-color: blue;
  color: white;
  font-weight: bold;
  text-align: right;
}
